<div class="assignment center small">

<h2>New Assignment</h2>

<%= form_for @assignment, class: "form-group" do |f| %>

    <label>Title</label> <br>
    <%= f.text_field :title, class: "form-control" %> <br><br>

    <label>Url</label>  <br>
    <%= f.text_field :url, class: "form-control" %> <br><br>

    <%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>

</div>

<script>

var divwidth = $( "form" ).width();

$(document).ready(function(){
    $( "div.assignment" ).css({width: divwidth});
})

</script>