<div class="user center small">

<h2>Users</h2>

<table>

	<% @users.each do |user| %>
	
		<tr>
			<td>
				<%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %>
	      		<%= user.email %>
	      	</td>
			<td>
	      		<%= user.role %>
			</td>
			<% if current_user.role == "coordinator" %>
			<td>
	      		<%= button_to "Change role", role_form_path(user), :method => "get", :class => "btn btn-default" %>
			</td>
			<% end %>
    	</tr>
 
	<% end %>

</table><br>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.user" ).css({width: divwidth});
})

</script>