<div class="event center small">

<h2><%= @event.title %></h2>

<% if @event.users.empty? %>

	<p>No students attending yet</p>
	
<% else %>

	<% @event.users.each do |user| %>
		<%= link_to user.firstname, user_path(user) %> <br>
	<% end %>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    if divwidth < 300 {
        $( "div.event" ).css({width: divwidth});
    };
})

</script>