<div class="gist center small">

<h2>Gists</h2>

<% if current_user.email == "noahkaplan4@gmail.com" %>
	<%= button_to "New gist", new_gist_path, method: "get", class: "btn btn-warning" %> <br>
<% end %>

<% if @gists.nil? %>

	<p>No gists</p>

<% else %>

<table>

	<% @gists.each do |f| %>
	
		<tr>
	    	<td>
	      		<span class="tabletitle"><%= link_to f.title, "#{f.url}", :target => "_blank" %></span>
	      	</td>

	      	<td>
	      		<span class="lightgrey"><%= f.instructor %></span>
			</td>
			
			<% if current_user.email == "noahkaplan4@gmail.com" %>
			<td>
	      		<%= button_to "Edit", edit_gist_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
			<% end %>
    	</tr>
 
	<% end %>

</table> <br>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.gist" ).css({width: divwidth});
})

</script>