<div class="gist center small">

<h2>Gists</h2>

<% if current_user.role == "instructor" %>
	<%= button_to "New gist", new_gist_path, method: "get", class: "btn btn-warning" %> <br>
<% end %>

<% if @gists.empty? %>
	<p>No gists</p>
<% else %>

<table>

	<% @gists.each do |f| %>
	
		<tr>
	    	<td>
	      		<%= link_to f.title, "#{f.url}", :target => "_blank" %>
	      	</td>
	      	<td>
	      		<%= f.user.firstname %>
			</td>
			<% if current_user.role == "instructor" %>
			<td>
	      		<%= button_to "Edit", edit_gist_path(f), :method => "get", :class => "btn btn-default" %>
			</td>
			<% end %>
    	</tr>
 
	<% end %>

</table><br>

<% end %>

</div>

<script>

var divwidth = $( "table" ).width();

$(document).ready(function(){
    $( "div.gist" ).css({width: divwidth});
})

</script>