<div class="gist center small">

<h2>New Gist</h2>

<%= form_for @gist, class: "form-group" do |f| %>

    <label>Title</label> <br>
    <%= f.text_field :title, class: "form-control" %> <br><br>

    <label>Url</label>  <br>
    <%= f.text_field :url, class: "form-control" %> <br><br>

    <%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>

</div>