body {
	background-color: #E3E3E3;
}

h1 {
	font-size: 70px;
}

a, a:hover {
	color: Black;
}

table tr {
	border: 1px solid Grey;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 10px auto;
}

table td {
	padding: 20px;
}

.center {
	float: none;
	margin: 0 auto;
}

.small {
	width: 400px;
}

.medium {
	width: 550px;
}

.large {
	width: 600px;
}