body {
	background-color: #E3E3E3;
	margin-bottom: 50px;
}

h1 {
	font-size: 87px;
	margin: 40px auto 30px auto;
	font-family: 'PT Sans Narrow', 'Arial narrow', Arial, sans-serif;
	font-weight: 700;
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 31px;
	margin: 45px auto 20px auto;
}

.navbar a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #F2F8FA;
	border-color: #cccccc;
}

a {
	color: Black;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #05009E;
}

.user a {
	color: #05009E;
	font-weight: bold;
}

.user a:hover {
	text-decoration: none;
	color: #040070;
}

table {
	border-collapse: separate;
	border-spacing: 0 18px;
}

table tr {
	border: 1px solid Grey;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 10px auto;
}

table tr td:first-child {
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

table tr td:last-child {
    border-radius: 0 4px 4px 0;
}

table td {
	padding: 22px 30px;
}

div > form {
	width: 300px;
}

.center {
	float: none;
	margin: 0 auto;
}

.small {
	width: 350px;
}

.medium {
	width: 600px;
}

.large {
	width: 900px;
}

.squad table {
	min-width: 300px;
}

.alert, .notice {
	color: #A30000;
	margin-bottom: -20px;
}